{#
Renders a media item for a organization. This should be used in a list.

organization - A organization dict.

Example:

    <ul>
      {% for organization in organizations %}
        {% snippet "organization/snippets/organization_item_li.html", organization=organization %}
      {% endfor %}
    </ul>
#}
{% set url = h.url_for(organization.type ~ '_read', action='read', id=organization.name) %}
{% block item %}
    <li>
        {% block item_inner %}
            <a class="group-buttom-box" href="{{ url }}">
                {% block title %}
                    <p class="gdm-title-text">{{ organization.display_name }}</p>
                {% endblock %}
                {% block description %}
                    {% if organization.description %}
                        <p class="gdm-sub-text">{{ h.markdown_extract(organization.description, extract_length=80) }}</p>
                    {% endif %}
                {% endblock %}
            </a>
            {% block link %}
                <div class="group-icons-box group-icons-box-media">
                    <a href="{{ url }}" title="{{ _('View {name}').format(name=organization.display_name) }}">
                        <img src="{{ organization.image_display_url or h.url_for_static('/base/images/placeholder-organization.png') }}" alt="{{ organization.name }}"/>
                    </a>
                </div>
            {% endblock %}
        {% endblock %}
    </li>
{% endblock %}
