{% block group_item %}
    <div class="col-md-6 main-left">
        {% set title = group.title or group.name %}
        <h3>{{ title }}</h3>
        {% if group.description %}
            {% if truncate == 0 %}
                <p>{{ h.markdown_extract(group.description)|urlize }}</p>
            {% else %}
                <p>{{ h.markdown_extract(group.description, truncate)|urlize }}</p>
            {% endif %}
        {% endif %}
        <a href="{{ h.url_for(controller='group', action='read', id=group.name) }}">Lern
            more</a>
    </div>
{% endblock %}
