{% extends "ndss_page.html" %}
{%- block subtitle %}{{ _("Banner") }}{% endblock -%}

{%- block maintag %}{% endblock -%}
{%- block toolbar %}{% endblock -%}

{%- block content -%}
    <div class="contain-center">
        <div class="container slider-admin">
            <div class="row">
                <div class="col-md-12 table-responsive">

                </div>
                <div class="col-md-12 form-col">

                </div>
            </div>
        </div>
    </div>
{%- endblock -%}
