{% extends "package/read_base_li.html" %}

{% set pkg = c.pkg_dict %}

{% block data_resources %}
    <div class="data-resources-box">
            {% block package_resources %}
              {% snippet "package/snippets/resources_list_li.html", pkg=pkg, resources=pkg.resources %}
            {% endblock %}

            {% block package_additional_info %}
              {% snippet "package/snippets/additional_info_li.html", pkg_dict=pkg %}
            {% endblock %}
    </div>
{% endblock %}
