<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 welcome-img">
    <img src="ndss/images/big-left.png" class="img-responsive"/></div>

<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 welcome-text-box home-two-welcome">
    <div class="">
        <h2>Welcome to NDSS | Your Data Portal</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus
            cursus felis sit amet eros varius vestibulum. Aliquam in euismod
            leo. Proin ac leo est. Ut eu bibendum velit, vitae tristique ipsum.
            In scelerisque elit ac ipsum ullamcorper porttitor. Phasellus vitae
            felis eu arcu iaculis posuere vitae eget diam. Nullam dictum
            sollicitudin elementum.</p>
        <a href="/about" class="buttons-one home-two-colo">Learn more</a></div>
</div>

<div class="col-lg-3  col-md-3 col-sm-3 col-xs-12 welcome-img">
    <img src="ndss/images/data-right.png" class="img-responsive"/></div>
<div class="clearfix"></div>
</div>