<div id="owl-demo" class="owl-carousel owl-theme">
    <div class="item"><img src="ndss/images/home-silder-img.jpg"
                           class="img-responsive" alt="The Last of us">

        <div class="silder-text-box">
            <h1>Welcome to the <br/>
                NDSS Data Portal</h1>
            <p>Mauris est tellus, mollis et facilisis et, rutrum ut erat.
                Suspendisse efficitur risus non libero hendrerit blandit. Donec
                tincidunt odio id egestas lobortis.</p>
            <a href="/about" class="about-nddss">About NDSS</a> <a href="/dataset"
                                                              class="Datasets-button">Datasets</a>
        </div>
    </div>

    <div class="item"><img src="ndss/images/home-silder-img-2.jpg"
                           class="img-responsive" alt="The Last of us">
        <div class="silder-text-box sild-home-two">
            <h1>Welcome to the <br/>
                NDSS Data Portal</h1>
            <p>Mauris est tellus, mollis et facilisis et, rutrum ut erat.
                Suspendisse efficitur risus non libero hendrerit blandit. Donec
                tincidunt odio id egestas lobortis.</p>
            <a href="/about" class="about-nddss">About NDSS</a> <a href="/dataset"
                                                              class="Datasets-button">Datasets</a>
        </div>
    </div>

    <div class="item"><img src="ndss/images/silder-img.jpg"
                           class="img-responsive" alt="The Last of us">
        <div class="silder-text-box">
            <h1>Welcome to the <br/>
                NDSS Data Portal</h1>
            <p>Mauris est tellus, mollis et facilisis et, rutrum ut erat.
                Suspendisse efficitur risus non libero hendrerit blandit. Donec
                tincidunt odio id egestas lobortis.</p>
            <a href="/about" class="about-nddss">About NDSS</a> <a href="/dataset"
                                                              class="Datasets-button">Datasets</a>
        </div>
    </div>
</div>